* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  max-height: 100%;
  z-index: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h2 {
    margin: 1vh;
    font-size: 1vw;
}

textarea {
  resize: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

table {
    margin-top: 2vh;
    font-size: 1vw;
    border-collapse: collapse;
}

th {
    background-color: black;
}

td {
    text-align: center;
    font-size: 0.8vw;
    border-bottom: 0.1vh solid black;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.whiteTitle {
    color: white;
}

.tableEntry {
    font-style: italic;
    font-size: 0.8vw;
    border: 0.1vh solid white;
}

.center {
    text-align: center;
}

.just-right {
    text-align: right;
    padding-right: 4.75%;
}

.wrapper {
    width: 80vw;
    aspect-ratio: 16/9;
    max-height: 80vh;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 0.5vw;
    padding-right: 1vw;
    width: 15vw;
    max-height: 90vh;
    border-right-style: solid;
}

.logo-background {
    background-color: black;
    padding-top: 1vh;
}

.saveButtons {
    background-color: #555555;
    border: none;
    color: white;
    height: 2vw;
    margin-top: 1vh;
    font-size: 1vw;
}

.saveButtons:hover {
    background-color: black;
}

.CEditor {
    display: grid;
    grid-template-rows: repeat(7, minmax(0, 1fr));
    grid-template-columns: repeat(8, minmax(0, 1fr));
    align-items: center;
    grid-gap: 0.5vw;
}

.Statblock{
    background-color: black;
    margin: 0.5vw;
}

.statInput {
    margin: 0.25vw;
    margin-right: 0.125vw;
    aspect-ratio: 1/1;
    text-align: center;
    font-size: 2vw;
    width: 25%;
}

.Skills {
    display: flex;
    margin: 0.25vw;
    margin-left: 0.125vw;
    width: 100%;
    justify-content: flex-start;
}

.Counter {
    background-color: black;
    margin: 1vw;
}

.PointCounter {
    background-color: black;
    margin: 1vw;
    margin-top: 0vw;
}

.counterInput {
    margin: 0.25vw;
    text-align: center;
}

.counterInputMax {
    aspect-ratio: 1/1;
    margin: 0.25vw;
    margin-left: 0;
    text-align: center;
}

.v-check {
    flex-grow: 1;
    aspect-ratio: 1/1;
}

.v-font {
    font-size: 0.85vw;
}

.counterBackground {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: black;
    z-index: 0;
    height: 100%;
    margin: 0.5vw;
}

.Textbox{
    background-color: black;
    margin: 0.5vw;
    height: 100%;
}

.textInput {
    margin: 0.25vw;
    text-align: start;
    height: 100%;
}

.nameInput {
    font-size: 2vw;
}
