* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  max-height: 100%;
  z-index: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
  height: 0.5vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #b0b0b0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h2 {
    margin: 1vh;
    font-size: 1vw;
}

h3 {
    margin: 0;
    margin-top: 0.25vh;
    margin-bottom: 0.25vw;
    font-size: 1.5vw;
}

p {
    margin: 0;
    margin-top: -0.5vw;
    font-size: 0.8vw;
}

textarea {
  resize: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

table {
    font-size: 1vw;
    border-collapse: collapse;
    height: 10vh;
}

th {
    background-color: black;
}

td {
    text-align: center;
    font-size: 0.85vw;
    border-bottom: 0.1vh solid black;
}

line {
  stroke: black;
  stroke-width: 0.2vw;
}

.tableHeader {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.tableEntry {
    font-style: italic;
    font-size: 0.8vw;
    border: 0.1vh solid white;
}

.difficultTable {
    margin-top: auto;
}

.occultTable {
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.row-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.row-spaced {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.lv-col {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.marg-bot {
    text-align: center;
    margin-bottom: 0.5vh;
}

.center {
    justify-content: center;
}

.centerText {
    text-align: center;
}

.justifyText {
    text-align: start;
    padding-left: 0.5vw;
}

.line {
    background-color: black;
    height: 3px;
    flex-grow: 1;
    align-self: flex-end;
    margin-right: -0.5vw;
}

.whiteTitle {
    color: white;
}

.whiteBorder {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0.5vh;
    border-bottom: 3px white solid;
}

.wrapper {
    width: 80vw;
    aspect-ratio: 16/9;
    max-height: 80vh;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 0.5vw;
    padding-right: 1vw;
    width: 15vw;
    max-height: 90vh;
    border-right-style: solid;
}

.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80vw;
    height: 3vh;
    padding-left: 0.5vw;
    margin-bottom: 1.5vh;
}

.logo-background {
    background-color: black;
    padding-top: 1vh;
}

.customButton {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.customButton:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.saveButtons {
    border-radius: 5px;
    height: 2vw;
    margin-top: 0.5vh;
    font-size: 1vw;
}

.navButtons {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    flex: auto auto auto;
    margin: 0.1vh;
    height: 100%;
    font-size: 1vw;
}

.navButtons:hover{
    cursor: pointer;
}

.active {
    background-color: white;
    color: black;
    border: 3px solid black;
    border-bottom: none;
    font-size: 1.25vw;
    cursor: default;
}

.hidden {
    display: none;
}

.DiceRoller {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 1vh;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    padding-bottom: 0.2vw;
}

.diceButton {
    border-radius: 5px;
    font-size: 1vw;
    margin: 0.1vw;
}

.resultWindow {
    background-color: white;
    height: 2.5vw;
    margin-bottom: 1vh;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    overflow-x: scroll;
    overflow-y: hidden;
}

.LvResultWindow {
    background-color: white;
    height: 2vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.CEditor1 {
    display: grid;
    grid-template-rows: repeat(7, minmax(0, 1fr));
    grid-template-columns: repeat(8, minmax(0, 1fr));
    align-items: center;
    grid-gap: 0.5vw;
    height: 100%;
}

.CEditor2 {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: center;
    grid-gap: 0.5vw;
    height: 100%;
}

.CEditor3 {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    grid-gap: 0.5vw;
    height: 100%;
    margin-left: 0.5vw;
}

.treeWrapper {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    width: 20vw;
    aspect-ratio: 1/1;
}

.treeGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(12, minmax(0, 1fr));
    grid-template-columns: repeat(18, minmax(0, 1fr));
    align-items: center;
}

.Treecell {
    display: flex;
    aspect-ratio: 1/1;
    justify-content: center;
}

.treebox {
    flex-grow: 1;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.2vw solid black;
    appearance: none;
    background-color: white;
}

.treebox:hover {
    cursor: pointer;
}

.treebox:checked {
    appearance: auto;
    clip-path: circle(46% at 50% 50%);
}

.Treeline {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.Statblock {
    background-color: black;
    margin: 0.5vw;
    height: 100%;
    width: 100%;
}

.statInput {
    margin: 0.25vw;
    margin-right: 0.125vw;
    aspect-ratio: 1/1;
    text-align: center;
    font-size: 2vw;
    width: 25%;
}

.Skills {
    display: flex;
    margin: 0.25vw;
    margin-left: 0.125vw;
    width: 100%;
    justify-content: flex-start;
}

.Counter {
    background-color: black;
    margin-left: 1vw;
}

.PointCounter {
    background-color: black;
    margin-left: 1vw;
    margin-bottom: 1vw;
    margin-top: 0vw;
}

.counterInput {
    margin: 0.25vw;
    text-align: center;
    margin-bottom: 0.75vw;
}

.counterInputMax {
    aspect-ratio: 1/1;
    margin: 0.25vw;
    margin-bottom: 0.75vw;
    margin-left: 0;
    text-align: center;
}

.v-check {
    flex-grow: 1;
    aspect-ratio: 1/1;
}

.v-check:hover {
    cursor: pointer;
}

.v-font {
    font-size: 0.85vw;
}

.classFlex {
    margin-right: 0.2vw;
    margin-bottom: 0.5vw;
}

.class-check {
    aspect-ratio: 1/1;
    width: 100%;
    margin: 0.25vw;
}

.class-check:hover {
    cursor: pointer;
}

.counterBackground {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: black;
    z-index: 0;
    height: 100%;
    width: 100%;
    margin: 0.5vw;
}

.Textbox{
    background-color: black;
    margin: 0.5vw;
    height: 100%;
    width: 100%;
}

.textInput {
    margin: 0.25vw;
    text-align: start;
    height: 100%;
}

.nameInput {
    font-size: 1.5vw;
}

.Classrow {
    width: 100%;
    height: 100%;
}

.diceLogo {
    filter: invert(100%);
    height: 2vw;
    padding-right: 1vw;
    padding-left: 1vw;
}

.skeletonCol {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 3;
    height: 100%;
}

.pmInput {
    margin: 0.25vw;
    text-align: center;
    padding-top: 0.25vw;
    margin-bottom: 0.25vw;
    font-size: 2vw;
    height: 100%;
}

.pi-counter {
    justify-content: center;
    margin-top: 2.5vh;
    margin-left: 0.2vw;
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 9;
}

.spellLabel {
    margin-bottom: 1.5vw;
    font-style: italic;
}

.classLabel {
    margin: 0.25vw;
    width: 0.9vw;
    font-size: 0.85vw;
}

#Logo {
    filter: invert(100%);
    aspect-ratio: 16/9;
    margin-bottom: 1vh;
}

#skeleton {
    margin-top: auto;
    margin-left: 1vw;
    aspect-ratio: 3/7;
    z-index: 0;
}
